.container {
    /* max-width: 100%;
    height: auto; */
}

.streetview {
background-color: pink;
height: 250px;
}

.flights {
background-color: orange;
height: 250px;

}

.airbnb {
background-color: yellow;
height: 500px;
}

#card-image-1, #card-image-2, #card-image-3, #card-image-4 {
    width: 400px;
    max-height: 300px;
    margin-bottom: 10px;
    margin-top: 10px;
    
}


.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.jumbotron {
    margin-top: 10px;
    position: relative;
}

/* .display-4, .lead, .my-4 {
    color: white;
} */

.card {
    box-shadow: 5px 10px 18px #888888;
}

#information {
    margin-bottom: 25px;
}

@media (min-width: 768px) {
    .bd-placeholder-img-lg {
    font-size: 3.5rem;
}
}

@media (max-width: 675px) {
    #card-link-1, #card-link-2, #card-link-3, #card-link-4 {
    max-width: 200px;
    } 
}

main > .container {
    padding: 60px 15px 0;
}

.footer {
    background-color: f5f5f5;
}

.footer > .container {
    padding-right: 15px;
    padding-left: 15px;
}

code {
    font-size: 80%;
}

.hide {
    display: none;
}